@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


body
{
    font-family: 'Montserrat', sans-serif;
    transition: text-color .3s ease-in;
    transition: background-color .3s ease-in;
    background-color: #cbd5e133;
}


/* header */
.header
{
    background-image: url("../img/cover.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.btn-darkmode-toggler
{
    color:#ffffff;
    transition: color .2s ease, transform .2s ease;
}
.btn-darkmode-toggler:hover
{
    color: dimgrey;
    transform: scale(1.2);
}

.header-link-icon
{
    background: rgba(255, 255, 255, 0.2);
    transition: background-color .3s ease;
}
.header-link-icon:hover
{
    background-color: #149ddd;
}


/* Trabajos */
.trabajo-imagen
{
    width: 100%;
    height: 100%;
    max-width: 20rem;
    max-height: 15rem;
    object-fit: contain;
    
    border-radius: var(--bs-border-radius) !important;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

    transition: all .3s ease;
}
.trabajo-imagen:hover
{
    transform: scale(1.02);
}


.icon-youtube { color: #FF0000; transition: color .3s ease; }
.icon-twitter { color: #1D9BF0; transition: color .3s ease; }
.icon-instagram { color: #E4405F; transition: color .3s ease; }
.icon-tiktok { color: #000000; transition: color .3s ease; }
.icon-discord { color: #5865F2; transition: color .3s ease; }

.btn-outline-dark:hover .icon-youtube { color: white; }
.btn-outline-dark:hover .icon-twitter { color: white; }
.btn-outline-dark:hover .icon-instagram { color: white; }
.btn-outline-dark:hover .icon-tiktok { color: white; }
.btn-outline-dark:hover .icon-discord { color: white; }


/* Proyectos */
.proyecto-imagen
{
    width: 100%;
    min-width: 25rem;
    max-height: 360px;
    border-radius: 8px;
    object-fit: contain;
    
    box-shadow: 0px 0px 0px 1px #888;
    -webkit-box-shadow: 0px 0px 0px 1px #888;
    -moz-box-shadow: 0px 0px 0px 1px #888;

    transition: all .3s ease;
}
.proyecto-imagen:hover
{
    box-shadow: 0px 0px 10px 5px #888;
    -webkit-box-shadow: 0px 0px 10px 5px #888;
    -moz-box-shadow: 0px 0px 10px 5px #888;
    transform: scale(1.025);
}


/* CONTACT */
.contact-img-logo-container
{
    width: min-content;
    padding: 2rem;
    border-radius: 50%;
    transition: transform .2s ease;
}
.contact-img-logo-container:hover
{
    transform: scale(1.1);
}

.contact-img-logo
{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: fill;
}


/* FOOTER */
.footer
{
    background: rgb(0, 0, 35);
    background: -moz-linear-gradient(25deg, rgba(0, 0, 35, 1) 20%, rgba(111, 51, 134, 1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(0, 0, 35, 1) 20%, rgba(111, 51, 134, 1) 100%);
    background: linear-gradient(25deg, rgba(0, 0, 35, 1) 20%, rgba(111, 51, 134, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000023", endColorstr="#6f3386", GradientType=1);
}


/* Bootstrap ext */
.btn { transition: color .2s ease, background-color .2s ease; }
.btn-unstyled
{
    border: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
}

.text-pre-line { white-space: pre-line; }

.cursor-pointer { cursor: pointer; }

/* Fixes */
.btn > * { pointer-events: none; }

.btn-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
}
