@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


body
{
    font-family: 'Montserrat', sans-serif;
    transition: text-color .3s ease-in;
    transition: background-color .3s ease-in;
    background-color: #cbd5e133;
}


/* header */
.header
{
    background-image: url("../img/cover.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header-link-icon
{
    background: rgba(255, 255, 255, 0.2);
    transition: background-color .3s ease;
}
.header-link-icon:hover
{
    background-color: #149ddd;
}


/* FOOTER */
.footer
{
    background: rgb(0, 0, 35);
    background: -moz-linear-gradient(25deg, rgba(0, 0, 35, 1) 20%, rgba(111, 51, 134, 1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(0, 0, 35, 1) 20%, rgba(111, 51, 134, 1) 100%);
    background: linear-gradient(25deg, rgba(0, 0, 35, 1) 20%, rgba(111, 51, 134, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000023", endColorstr="#6f3386", GradientType=1);
}



/* Bootstrap ext */
[data-bs-theme=dark] {
    --bs-box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
}

[data-bs-theme=dark] .btn-outline-dark 
{
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #212529;
    --bs-btn-hover-border-color: white;
}

.container-fluid { max-width: 110rem; }
.btn { transition: all .2s linear; }
.cursor-pointer { cursor: pointer; }
.table-transparent { --bs-table-bg: none !important; }


.btn-unstyled
{
    border: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
}
[class*="btn-outline-"]
{
    background: linear-gradient(0deg, var(--bs-btn-color), var(--bs-btn-color)) no-repeat right bottom / 0 100%;
    background-color: transparent !important;
    transition: background-size .3s, color .3s ease;
}
[class*="btn-outline-"]:where(:hover, :focus-visible) 
{
    background-size: 100% 100%;
    background-position-x: left;
}

.btn-outline-light:hover {
    color: rgb(var(--bs-dark-rgb)) !important;
}


.text-truncate
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-border-black { text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 3px 3px #000, -3px -3px #000, 3px -3px #000, -3px 3px #000; }

@media(max-width: 480px) 
{
    /* .btn:not(.rounded-circle) { width: 100%; text-align: center; }     */
    .btn-expand { width: 100%; text-align: center; }
}

.scale { transition: transform .2s ease !important; }
.scale-1:hover { transform: scale(1.03); }
.scale-2:hover { transform: scale(1.05); }
.scale-3:hover { transform: scale(1.1); }
.scale-4:hover { transform: scale(1.15); }
.scale-5:hover { transform: scale(1.2); }

.link-hover { transition: background-color .3s ease; }
.link-hover:hover { background-color: #ddd; }

.ls-1 { letter-spacing: 1px; }
.ls-2 { letter-spacing: 2px; }
.ls-3 { letter-spacing: 4px; }
.ls-4 { letter-spacing: 6px; }
.ls-5 { letter-spacing: 10px; }


/* Fixes */
a:not(.btn) { text-decoration: none; }
a:not(.btn):hover { text-decoration: underline; }

button i, a i { pointer-events: none; }

.btn { text-wrap: nowrap; }
.btn-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.link-icon
{
    display: flex;
    align-items: center;
    gap: 8px;
}

/* input, textarea { background-color: transparent !important; } */

img { max-width: 100%; }

.page-link { background-color: white; }

:root {
    --bs-breadcrumb-divider: "\203A";
}


/* Transitions fixes */
body
{
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

div, input, textarea, select, option, span
{
    transition-property: background, border !important;
    transition-duration: .2s !important;
    transition-timing-function: ease-out !important;
}
